(
  selected_tab: Some("#feacd0"),
  command_fg: Some("#989898"),
  selection_bg: Some("#7030af"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#000000"),
  cmdbar_extra_lines_bg: Some("#000000"),
  disabled_fg: Some("#989898"),
  diff_line_add: Some("#a0e0a0"),
  diff_line_delete: Some("#ffbfbf"),
  diff_file_added: Some("#a0e0a0"),
  diff_file_removed: Some("#ffbfbf"),
  diff_file_moved: Some("#caa6df"),
  diff_file_modified: Some("#efef80"),
  commit_hash: Some("#caa6df"),
  commit_time: Some("#6ae4b9"),
  commit_author: Some("#44bc44"),
  danger_fg: Some("#ff5f59"),
  push_gauge_bg: Some("#000000"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#f78fe7"),
  branch_fg: Some("#d0bc00"),
)
